<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KMRL - HOME PAGE</title>
</head>
<body>
    <p>Welcome to the KMRL Home Page</p>
    <button><a href="http://localhost:3000/dashboard">Go to Dashboard Page</a></button>
</body>
</html>